<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/Foundation6.6.1/assets/css/app.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/css/Shared/defaultLayout.css")"/>

    <script src="@Url.Content("~/lib/Foundation6.6.1/assets/js/app.js")"></script>
</head>
<body>
    <header>
        @await Html.PartialAsync("_Header")
    </header>
    
        @RenderBody()

    <footer class="panel-footer">
        @await Html.PartialAsync("_Footer")
    </footer>
</body>
</html>