@model SimpleOnlineStoreRepositoryCore.Data.Models.RegisterModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.LabelFor(model => model.FirstName)
        @Html.LabelFor(model => model.LastName)
        @Html.LabelFor(model => model.Company)
        @Html.LabelFor(model => model.Password)
        @Html.LabelFor(model => model.RepeatPassword)
        
    }

</head>
<body>
</body>
</html>
